/* 初始化样式 */
body{
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei",STXihei,hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
a{
    text-decoration: none;
    color: #222;
}
div{
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* 顶部搜索模块 */
.search-index{
    display: flex;
    position: fixed;
    top: 0;
    /* 居中对齐 */
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    /* 固定的盒子必须有宽度 */
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: #F6F6F6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.search{
    position: relative;
    flex: 1;
    height: 26px;
    line-height: 24px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: #666;
    padding-left: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}
.user{
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 4px auto -2px;
}
/* 焦点图模块 */
.focus{
    margin-top: 44px;
}
.focus img{
    width: 100%;
}
.local-nav{
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin:3px 4px;
}
.local-nav li{
    flex: 1;
}
.local-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local-nav-icon{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat ;
    background-size: 32px auto;
}
/* 主导航栏 */
nav{
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
}
.nav-common{
    display: flex;
    height: 88px;
}
.nav-common:nth-child(1){
    background: -webkit-linear-gradient(left,#FA5A55,#FA994D);
}
.nav-common:nth-child(2){
    margin: 3px 0;
    background: -webkit-linear-gradient(left,#FA5A55,#FA994D);
}
.nav-common:nth-child(3){
    background: -webkit-linear-gradient(left,#FA5A55,#FA994D);
}
.nav-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav-items a{
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    text-shadow: 1px 1px rgb(0,0,0,0.2);
}
.nav-items a:nth-child(1){
    border-bottom: 1px solid #fff;
}
.nav-items:nth-child(-n+2){
    border-right: 1px solid #fff;
}
.nav-items:nth-child(1) a{
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.subnav-entry{
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
}
.subnav-entry li{
    flex: 20%;
}
.subnav-entry a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry-icon{
    width: 28px;
    height: 28px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}
/* 销售模块 */
.sales-box{
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
}
.sales-hd{
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.sales-hd h2{
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}
.sales-hd h2::after{
    position: absolute;
    top:8px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px;
}
.sales-hd .more{
    position: absolute;
    top: 0px;
    right: 5px;
    background: -webkit-linear-gradient(left,#FF506C,#FF6BC6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}
.sales-hd .more::after{
    content: "";
    position: absolute;
    top:9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.row{
    display: flex;
}
.row a{
    flex: 1;
    border-bottom: 1px solid #eee;
}
.row a img{
    width: 100%;
}
.row a:nth-child(1){
    border-right: 1px solid #eee;
}
.botnav {
    height: 51px;
    display: flex;
    margin: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #fff;
}
.botnav li{
    flex: 33.3333333333333333333%;
}
.botnav a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botnav-entry-icon{
    width: 20px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat -60px -280px;
    background-size: 32px auto;
    margin-top: 6px;
    
}
footer p{
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
}
footer p a{
    display: inline-block;
    width: auto;
    height: 16px;
}
.top{
    position: relative;
    padding: 0 15px 0 5px;
}
.top::after{
    content: "";
    position: absolute;
    top:0px;
    right: 5px;
    width: 7px;
    height: 7px;
    margin-top: 4px;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    transform: rotate(45deg);
}