.main_box .box{
    display: flex;
    width: 98%;
    background-color: #F7E8E9;
    margin: auto;
}


.main_box .box .left{
    flex: 2;
    border-right: .0125rem solid #C20C0C;
}

.main_box .box .left .header{
    width: 95%;
    height: .75rem;
    line-height: .75rem;
    font-weight: bolder;
    font-size: .3rem;
    text-align: center;
    margin: auto;
    margin-top: .25rem;
    border-bottom: .0125rem solid #C20C0C;
}

.main_box .box .left ul{
    width: 95%;
    margin: auto;
    margin-top: .25rem;
}

.main_box .box .left ul li{
    width: 100%;
    height: .625rem;
    line-height: .625rem;
    margin-top: .125rem;
    text-align: center;
    border-radius: .05rem;
}

.main_box .box .left .pd1 ul li:first-child{
    background-color: white;
}

.main_box .box .left ul li:hover{
    background-color: white;
}

.main_box .box .right{
    flex: 8;
    width: 97%;
    margin: auto;
}



.main_box .box .right .header .top{
    width: 100%;
    padding-left: .25rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

.main_box .box .right .header .top #name{
    font-weight: bolder;
    font-size: .45rem;
    color: #000;
}


.main_box .box .right .header .top #time{
    margin-left: .5rem;
}

.main_box .box .right .header .bot{
    width: 100%;
    padding-left: .25rem;
    margin-top: .375rem;
    margin-bottom: .25rem;
}

.main_box .box .right .header .bot button{
    width: 1.25rem;
    height: .75rem;
    text-align: center;
    margin-right: .25rem;
    font-size: .2rem;
    text-align: center;
    background-color: white;
    padding-left: .0625rem;
    padding-right: .0625rem;
    border-radius: .05rem;
    transition: 0.5s ease-in;
}

.main_box .box .right .header .bot button:first-child{
    background-color:  #e35555;
}

.main_box .box .right .header .bot button:hover{
    background-color:  #e35555;
}

.main_box .box .right .ban{
    width: 98%;
    margin: auto;
    background-color: white;
    border-radius: .05rem;
    overflow: hidden;
}

.main_box .box .right .ban ul {
    width: 100%;
    margin-top: .25rem;
}

.main_box .box .right .ban ul li{
    display: flex;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: .125rem;   
}

.main_box .box .right .ban ul li:nth-child(even){
    background-color: #fbfbfd;
}

.main_box .box .right .ban ul li:first-child{
    border-bottom: .0125rem solid #C20C0C;
    font-size: .3rem;
    font-weight: bolder;
    color: #000;
    height: 1.25rem;
    line-height: 1.25rem;
}

.main_box .box .right .ban ul li:nth-child(n+2):hover{
    background-color: #F7E8E9;
}
.main_box .box .right .ban ul li .num{
    flex:1;
    text-align: center;
}


.main_box .box .right .ban ul li .song{
    flex: 6;
}

.main_box .box .right .ban ul li .song img{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .25rem;
}

.main_box .box .right .ban ul li .song .sing_name{
    margin-right: .125rem;
}

.main_box .box .right .ban ul li .song>a{
    padding-left: .0625rem;
    padding-right: .0625rem;
    color: #C20C0C;
    font-size: .2rem;
    margin-left:.3125rem;

}



.main_box .box .right .ban ul li .name{
    flex:1;
    text-align: center;
}


.main_box .box .right .ban ul li .time{
    flex: 1;
    text-align: center;
}

.main_box .box .right .ban .paging_bar{
    width: 98%;
    height: 1.25rem;
    margin: auto;
    margin-top: .375rem;
    text-align: center;
}
.main_box .box .right .ban .paging_bar a{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    margin: auto .0625rem auto .0625rem;
}
.main_box .box .right .ban .paging_bar .btn{
    margin-top: .025rem;
    width: 1rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .3rem;
    background-color: rgb(230, 230, 230);
}
.main_box .box .right .ban .paging_bar .btn:hover{
    background-color: rgb(200, 199, 199);
}
.main_box .box .right .ban .paging_bar .choose{
    background-color: #e35555;
}


/*评论*/
.main_box .box .right  .songs_comment {
    width: 98%;
    margin: auto;
    padding: auto;
}

.main_box .box .right  .songs_comment .song_header{
    width: 100%;
    margin-top: .25rem;
    height: .625rem;
    line-height: .625rem;
    border-bottom: .025rem solid #C20C0C;
    font-size: .3rem;
    color: #000;
    font-weight: bold;
}



.main_box .box .right  .songs_comment .send_message{
    width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    position: relative;
}
.main_box .box .right  .songs_comment .send_message img{
    position: absolute;
    top:.25rem;
    left: .625rem;
    width: 1rem;
    height: 1rem;
    border-radius: .125rem;
}
.main_box .box .right  .songs_comment .send_message .text{
    position: absolute;
    top: .0625rem;
    left: 2.25rem;
    width: 11.875rem;
    height: 1.5rem;
    margin-top: .25rem;
    background-color: beige;
    border-radius: .1rem;
    overflow: hidden;
}
.main_box .box .right  .songs_comment .send_message .text textarea{
    width: 102%;
    height: 102%;
    text-indent: 1em;
    font-size: .25rem;
}
.main_box .box .right  .songs_comment .send_message .btn{
    position: absolute;
    top:2rem;
    right: .875rem;
    width: 1.5rem;
    height: .625rem;
    border-radius: .1rem;
    background-color: white;
    transition: all 0.3s ease-in;
}
.main_box .box .right  .songs_comment .send_message .btn:hover{
    background-color: #e35555;
}
.main_box .box .right  .songs_comment .comments{
    width: 98%;
    margin: auto;
    padding-top:.5rem;
}
.main_box .box .right  .songs_comment .comments .header{
    width: 98%;
    height: .5rem;
    margin: auto;
    line-height: .5rem;
    font-size: .225rem;
    color: #000;
    border-bottom: .0125rem solid #C20C0C;
}
.main_box .box .right  .songs_comment .comments .header span{
    float: right;
    font-size: .2rem
}
.main_box .box .right  .songs_comment .comments .header span a{
    display: inline-block;
    margin-left: .0625rem;
}
.main_box .box .right  .songs_comment .comments .header span a:first-child{
    color: #C20C0C;
}

.main_box .box .right  .songs_comment .comments table {
    width: 98%;
    height: auto;
    margin: auto;
}
.main_box .box .right  .songs_comment .comments table tr {
    display: flex;
    width: 100%;
    line-height: .2875rem;
}
.main_box .box .right  .songs_comment .comments table td {
    position: relative;
    text-align: left;
    height: 2rem;
    border-bottom: .0125rem solid #C20C0C;
}
.main_box .box .right  .songs_comment .comments table td:first-child{
    flex: 1;
    padding-top: .3125rem;
    padding-left: .125rem;
}


.main_box .box .right  .songs_comment .comments table td:last-child{
    flex: 9;
}

.main_box .box .right  .songs_comment .comments table td>a{
    color: #000;
}

.main_box .box .right  .songs_comment .comments table td>a:hover{
    color: #C20C0C;
}

.main_box .box .right  .songs_comment .comments table td:last-child a{
    display: inline-block;
    margin-top: .3125rem;

    font-weight: bold;
}
.main_box .box .right  .songs_comment .comments table td:last-child a:hover{
    text-decoration: underline;
}
.main_box .box .right  .songs_comment .comments table td:last-child div{
    margin-top: .4rem;
}
.main_box .box .right  .songs_comment .comments table td:last-child .footer{
    position: absolute;
    right: 0;
    bottom: .125rem;
    display: inline;
    text-align: right;
    font-size: .2rem;
}
.main_box .box .right  .songs_comment .comments table td:last-child .footer a{
    text-decoration: none;
}
.main_box .box .right  .songs_comment .comments table img {
    width: 1rem;
    height: 1rem;
    border-radius: .125rem;
}

.main_box .box .right  .songs_comment .comments table h4 {
    font-weight: bolder;
    text-indent: 1em;
}
.main_box .box .right  .songs_comment .comments .paging_bar{
    width: 98%;
    height: 1.25rem;
    margin: auto;
    margin-top: .375rem;
    text-align: center;
}
.main_box .box .right  .songs_comment .comments .paging_bar a{
    display: inline-block;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    margin: auto .0625rem auto .0625rem;
}
.main_box .box .right  .songs_comment .comments .paging_bar .btn{
    margin-top: .025rem;
    width: 1rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .3rem;
    background-color: white;
}
.main_box .box .right  .songs_comment .comments .paging_bar .btn:hover{
    background-color: #fbfbfd;
}
.main_box .box .right  .songs_comment .comments .paging_bar .choose{
    background-color: #e35555;
}




